/* .MyNavbar {
      position: fixed;
      top: 0;
      right: 0;
      width: 90%;
      background-color: white;
      z-index: 3;
} */

/* .miniNav {
      padding: 25px;
} */

.miniNav>*>*>*>* {
      display: flex;
      flex-direction: row;
      justify-content: center;
}
